@font-face {
    font-family: poppins;
    src: url(poppins/Poppins-Medium.ttf);
}


body {
    font-family: Poppins;
}

.back {
    background: rgb(186, 227, 240);
    background: linear-gradient(90deg, rgba(186, 227, 240, 1) 0%, rgba(251, 217, 185, 1) 100%);
    position: relative;
border-radius: 10px;
}

@media only screen and (max-width:566px) {
    .back {
width: 100%;
    }

    .ghar {
          display: none;
           
    }
}




